.carousel{
    padding: 81px 0;
    background-color: #ffffff;
    &__inner{
        width: 750px;
        margin: 0 auto;
        position: relative;
    }
    .slick-prev, .slick-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: #fff;
        img{
            width: 31px;
            height: 32px;
            border: none;
        }
        
    }
    .slick-prev{
        left: -66px;
    }
    .slick-next{
        right: -66px;
    }
}