.comments{
    padding-bottom: 50px;
    &__block{
        margin-top: 70px;
        display: flex;
    }
    &__photo{
        width: 169px;
        height: 169px;
        margin-right: 60px;
    }
    &__content{
        padding-right: 50px;
        p{
            margin: 0;
        }
    }
    &__name{
        font-weight: bold;
        padding-bottom: 0;
        font-size: 18px;
        color: #0d0d0d;
        font-weight: 700;
    }
    &__marathone{
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 15px;
    }
    &__text{
        font-size: 16px;
        color: #0d0d0d;
        font-weight: 300;
        padding-bottom: 20px;
    }
}