.consultaion{
    background: url('../img/bg2.jpg') center (center/cover) no-repeat;
    min-height: 680px;
    padding: 100px 0 92px 0;
    &__description{
        font-size: 20px;
        color: #ffffff;
        font-weight: 500;
    }
}