@media (max-width: 991px){
    .container{
        max-width: 700px;
    }
    .header{
        &__logo{
            width: 200px;
        }
        &__official{
            span{
                font-size: 16px;
            }
        }
        &__phone{
            font-size: 16px;
        }
    }
    .promo{
        &__header{
            font-size: 35px;
        }
        &__title{
            font-size: 18px;
        }
        &__link{
            a{
                font-size: 16px;
            }
        }
    }
    .button{
        &_main{
            width: 250px;
            font-size: 16px;
        }
    }
    .benefit{
        &__block{
            width: 200px;
        }
    }
}
@media (max-width: 767px){
    .container{
        max-width: 520px;
    }
    .header{
        flex-wrap: wrap;
		justify-content: center;
       &__logo{
            width: 100%;
            img{
                width: 200px;
                display: block;
                margin: 0 auto;
                padding-bottom: 30px;
            }
       }
       &__official{
           width: 270px;
           text-align: left;
       }
       &__contacts{
           width: 250px;
       }
   }
   .promo{
       &__wrapper{
        align-items: center;
       }
   }
   .benefit{
       padding-top: 25px;
       &__icon{
           padding-bottom: 10px;
       }
       &__title{
           padding-bottom: 0px;
       }
       &__list{
           flex-direction: column;
           padding-top: 20px;
       }
       &__content{
           padding-bottom: 10px;
       }
       &__block{
        width: 300px;
        margin: 0 auto;
       }
   }
 
}